<div class="container">
    <h1>My Quotes!</h1>
    <div class="row">
      <div class="col-md-6">
      <hr>
      <ul>
        <div *ngFor='let quote of quotes;let i = index'>
          <div id={{i}}appStrikethrough>{{quote.quote}}</div>
          <button (click)='toggleDetails(i)' class="btn btn-primary">Show quotes detail!</button>
          <app-quotes-detail *ngIf='quote.showAuthor' [quote]='quote' (isComplete)='deleteQuote($event,i)'>
          </app-quotes-detail>
        </div>
      </ul>
    </div>

      <div class="col-md-6">
        <app-quote-form (addQuote)="addNewQuote($event)"></app-quote-form>
      </div>
      <p *ngIf='quotes.length > 8'>You have more than enough quotes!</p>
  </div>
</div>

