/* You can add global styles to this file, and also import other style files */
@import "~bootstrap/dist/css/bootstrap.css";
body {
  background-image: linear-gradient(orange, blue, grey);
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
}


