/* You can add global styles to this file, and also import other style files */
@import "~bootstrap/dist/css/bootstrap.css";
body {
  background-image: linear-gradient(orange,pink, grey);
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
}
*{
  font-size: 25px;
  font-family: 'Acme', sans-serif;
}

