<div class="container-fluid">
  <h2 class="text-center">Create a new Quote</h2>
  <hr>
  <form (ngSubmit)='submitQuote()' #goalForm='ngForm' >
    <div class="form-group">

      <label for="name">Name</label>
      <input type="text" class="form-control" id="name" [(ngModel)]="newQuote.name" name="name" #name='ngmodel' required>
      <div [hidden]="name.valid || name.pristine" class="alert alert-danger">
        <p>Name is required</p>
      </div>
    </div>
    <div class="form-group">

      <label for="author">Author</label>
      <textarea class="form-control" id="author" rows="4" [(ngModel)]="newQuote.author" name="author"
        #author="ngModel" required></textarea>
        <div [hidden]="author.valid || author.pristine" class="alert alert-danger">
          <p>Author is required</p>
        </div>
    </div>
    <div class="form-group">
      <label for="complete">Completion</label>
      <input type='date' id="complete" [(ngModel)]="newQuote.completeDate" name="completeDate" #completeDate="ngModel" required>
      <div [hidden]="completeDate.valid || completeDate.pristine" class="alert alert-danger">
        <p>Date is required</p>
      </div>>

    </div>
    <button type="submit" class="btn btn-success">Add new Quote.</button>
  </form>
</div>